/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
	--accent: #2337ff;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
}

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PixelUnicode';
	src: url('/fonts/Pixel_UniCode.woff2') format('woff');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Pixeloid';
	src: url('/fonts/Pixeloid_Sans.woff2') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Apple';
	src: url('/fonts/Apple.woff2') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Hellovetica';
	src: url('/fonts/Hellovetica.woff2') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PixChicago';
	src: url('/fonts/PixChicago.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
	/* font-family: 'Pixeloid', sans-serif; */
	margin: 0;
	padding: 0;
	text-align: left;
	background: linear-gradient(var(--gray-gradient)) no-repeat;
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--gray-dark));
	font-size: 20px;
	line-height: 1.7;
}

main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: rgb(var(--black));
	line-height: 1.2;
} */

h1 {
	font-size: 3.052em;
}

h2 {
	font-size: 2.441em;
}

h3 {
	font-size: 1.953em;
}

h4 {
	font-size: 1.563em;
}

h5 {
	font-size: 1.25em;
}

strong,
b {
	font-weight: 700;
}

a {
	color: var(--accent);
}

a:hover {
	color: var(--accent);
}

p {
	margin-bottom: 1em;
}

.prose p {
	margin-bottom: 2em;
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}

pre {
	padding: 1.5em;
	border-radius: 8px;
}

pre>code {
	all: unset;
}

blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}

ul {
	list-style-type: square !important;
	padding-left: 2rem !important;
}

ol {
	list-style: decimal !important;
	padding-left: 3rem !important;
}

mark {
	background-color: #ecb337;
}

hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}

@media (max-width: 720px) {
	body {
		font-size: 18px;
	}

	main {
		padding: 1em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

/* Here I started adding my own styles */


/* reset defaults */
* {
	box-sizing: border-box;
	margin: 0;
}

/* css variables */
:root {
	--desktop-color: #827977;
	--desktop-text-color: #ffffff;

	--title-bar-color: #cccccc;
	--title-bar-text-color: #333333;
	--title-bar-highlight-color: #aaaaaa;
	--title-bar-height: 32px;

	--pane-content-background-color: #ffffff;

	--pane-default-width: 320px;
	--pane-default-height: 360px;
	--pane-border-radius: 8px;
	--app-height: 100%;
}

body {
	/* font-family: 'PixChicago', sans-serif; */
	font-size: 12px;
	background: var(--desktop-color);

	/* if outside of the window, clip */
	height: 100vh;
	/* TUTAJ WYŁĄCZA SIĘ SCROLL */
	overflow: clip;
}

body.scrollablebody {
	overflow: scroll;
}

h1 {
	/* color: var(--desktop-text-color); */
	padding: 32px;
	font-size: 1.5rem;
}

h1 .waving-hand {
	font-size: 7rem;
}

.waving-hand:hover {
	animation-name: wave-animation;
	/* Refers to the name of your @keyframes element below */
	animation-duration: 2.5s;
	/* Change to speed up or slow down */
	animation-iteration-count: infinite;
	/* Never stop waving :) */
	transform-origin: 70% 70%;
	/* Pivot around the bottom-left palm */
	display: inline-block;
}

@keyframes wave-animation {
	0% {
		transform: rotate(0.0deg)
	}

	10% {
		transform: rotate(14.0deg)
	}

	/* The following five values can be played with to make the waving more or less extreme */
	20% {
		transform: rotate(-8.0deg)
	}

	30% {
		transform: rotate(14.0deg)
	}

	40% {
		transform: rotate(-4.0deg)
	}

	50% {
		transform: rotate(10.0deg)
	}

	60% {
		transform: rotate(0.0deg)
	}

	/* Reset for the last half to pause */
	100% {
		transform: rotate(0.0deg)
	}
}

body {
	/* dotted background */
	/* background-image: radial-gradient(circle at 0.8px 0.8px, rgba(0, 0, 0, 0.4) 1px, transparent 0);
	background-size: 10px 10px; */
}


/* https: //unpkg.com/tippy.js@6.3.7/themes/light.css */

.tippy-box[data-theme='default'] {
	background-color: #FAF4E6;
	color: black;
	border: 4px solid black;
	box-shadow: 4px 4px 0 rgba(64, 64, 64, 0.8);
}

/* TIPPY ARROW BORDER */
.tippy-box {
	border: 1px transparent
}

.tippy-box[data-placement^=top]>.tippy-arrow:after {
	border-top-color: inherit;
	border-width: 8px 8px 0;
	bottom: -8px;
	left: 0
}

.tippy-box[data-placement^=bottom]>.tippy-arrow:after {
	border-bottom-color: inherit;
	color: red;
	border-width: 0 8px 8px;
	top: -8px;
	left: 0
}

.tippy-box[data-placement^=left]>.tippy-arrow:after {
	border-left-color: inherit;
	border-width: 8px 0 8px 8px;
	right: -8px;
	top: 0
}

.tippy-box[data-placement^=right]>.tippy-arrow:after {
	border-width: 14px 14px 14px 0;
	left: -14px;
	top: -6px;
	border-right-color: inherit
}

.tippy-box[data-placement^=top]>.tippy-svg-arrow>svg:first-child:not(:last-child) {
	top: 17px
}

.tippy-box[data-placement^=bottom]>.tippy-svg-arrow>svg:first-child:not(:last-child) {
	bottom: 17px
}

.tippy-box[data-placement^=left]>.tippy-svg-arrow>svg:first-child:not(:last-child) {
	left: 12px
}

.tippy-box[data-placement^=right]>.tippy-svg-arrow>svg:first-child:not(:last-child) {
	right: 12px
}

.tippy-arrow {
	border-color: inherit
}

.tippy-arrow:after {
	content: "";
	z-index: -1;
	position: absolute;
	border-color: transparent;
	border-style: solid
}

/* TIPPY ARROW BORDER END */

.tippy-box[data-theme~='default'][data-placement^='right']>.tippy-arrow::before {
	border-right-color: #FAF4E6;
	left: -8px;
}

.tippy-box[data-theme~="light"] {
	color: red;
	box-shadow: 0 0 20px 4px rgba(154, 161, 177, 0.15),
		0 4px 80px -8px rgba(36, 40, 47, 0.25),
		0 4px 4px -2px rgba(91, 94, 105, 0.15);
	background-color: #fff;
}

.tippy-box[data-theme~="light"][data-placement^="top"]>.tippy-arrow:before {
	border-top-color: #fff;
}

.tippy-box[data-theme~="light"][data-placement^="bottom"]>.tippy-arrow:before {
	border-bottom-color: #fff;
}

.tippy-box[data-theme~="light"][data-placement^="left"]>.tippy-arrow:before {
	border-left-color: #fff;
}

.tippy-box[data-theme~="light"][data-placement^="right"]>.tippy-arrow:before {
	border-right-color: #fff;
}

.tippy-box[data-theme~="light"]>.tippy-backdrop {
	background-color: #fff;
}

.tippy-box[data-theme~="light"]>.tippy-svg-arrow {
	fill: #fff;
}

/* https://unpkg.com/tippy.js@6.3.7/animations/scale.css */
.tippy-box[data-animation="scale"][data-placement^="top"] {
	transform-origin: bottom;
}

.tippy-box[data-animation="scale"][data-placement^="bottom"] {
	transform-origin: top;
}

.tippy-box[data-animation="scale"][data-placement^="left"] {
	transform-origin: right;
}

.tippy-box[data-animation="scale"][data-placement^="right"] {
	transform-origin: left;
}

.tippy-box[data-animation="scale"][data-state="hidden"] {
	transform: scale(0.5);
	opacity: 0;
}

.os-scrollbar {
	/* // The size of the scrollbar */
	--os-size: 20px !important;
	/* // The axis-perpedicular padding of the scrollbar (horizontal: padding-y, vertical: padding-x) */
	--os-padding-perpendicular: 0;
	/* // The axis padding of the scrollbar (horizontal: padding-x, vertical: padding-y) */
	--os-padding-axis: 0;
	/* // The border radius of the scrollbar track */
	--os-track-border-radius: 0 !important;
	/* // The background of the scrollbar track */
	--os-track-bg: radial-gradient(circle at 0.8px 0.8px,
			rgba(0, 0, 0, 0.5) 2px,
			transparent 0) !important;
	/* // The :hover background of the scrollbar track */
	/* --os-track-bg-hover: red; */
	/* // The :active background of the scrollbar track */
	/* --os-track-bg-active: red !important; */
	/* // The border of the scrollbar track */
	/* --os-track-border: 4px solid #000000 !important; */
	/* // The :hover background of the scrollbar track */
	--os-track-border-hover: none;
	/* // The :active background of the scrollbar track */
	--os-track-border-active: none;
	/* // The border radius of the scrollbar handle */
	--os-handle-border-radius: 0 !important;
	/* // The background of the scrollbar handle */
	--os-handle-bg: black !important;
	/* // The :hover background of the scrollbar handle */
	--os-handle-bg-hover: black !important;
	/* // The :active background of the scrollbar handle */
	--os-handle-bg-active: black !important;
	/* // The border of the scrollbar handle */
	--os-handle-border: none;
	/* // The :hover border of the scrollbar handle */
	--os-handle-border-hover: none;
	/* // The :active border of the scrollbar handle */
	--os-handle-border-active: none;
	/* // The min size of the scrollbar handle */
	--os-handle-min-size: 33px;
	/* // The max size of the scrollbar handle */
	--os-handle-max-size: none;
	/* // The axis-perpedicular size of the scrollbar handle (horizontal: height, vertical: width) */
	--os-handle-perpendicular-size: 100%;
	/* // The :hover axis-perpedicular size of the scrollbar handle (horizontal: height, vertical: width) */
	--os-handle-perpendicular-size-hover: 100%;
	/* // The :active axis-perpedicular size of the scrollbar handle (horizontal: height, vertical: width) */
	--os-handle-perpendicular-size-active: 100%;
	/* // Increases the interactive area of the scrollbar handle. */
	--os-handle-interactive-area-offset: 0;
}

.os-scrollbar.os-scrollbar-vertical {
	/* background-color: #000d8a !important; */
	border-left: 4px solid #000000;

	background-image: radial-gradient(circle at 0.8px 0.8px,
			rgba(0, 0, 0, 1) 1px,
			transparent 0);
	background-size: 7px 7px;
	padding: 0px !important;
}

.os-scrollbar.invisible {
	display: none !important;
}