---
interface Props {
    classes?: "button-close" | "button-expand";
    iconName?:
        | "material-symbols:close-small"
        | "material-symbols:close"
        | "material-symbols:expand-content";
}
const { classes, iconName } = Astro.props;
import { Icon } from "astro-icon/components";
---

<button
    class=`baton ${classes} rounded-2xl button-shadow h-4 w-4 p-2 border-4 border-black
    flex justify-center items-center text-sm font-semibold
    text-white hover:bg-red`
>
    <Icon name=`${iconName}` />
</button>

<style>
    .baton {
    }
    .button-close {
        background-color: red;
    }
    .button-expand {
        /* background-color: blue; */
    }
    .button-shadow {
        box-shadow: 2px 2px 0 rgba(64, 64, 64, 0.8);
    }

    [data-icon] {
        margin: -7px;
    }
    .button-close > [data-icon] {
        color: black;
    }
    .button-expand > [data-icon] {
        color: black;
    }
</style>
