---
interface Props {
    classes?: string;
    clickDestination?: string;
    iconName?:
        | "material-symbols:close-small"
        | "material-symbols:close"
        | "material-symbols:expand-content"
        | "material-symbols:arrow-left-alt";
    ariaLabel:
        | "Close the panel"
        | "Toggle fullscreen mode for the panel"
        | "Go back to the list";
}
const { classes, iconName, ariaLabel, clickDestination = "" } = Astro.props;
import { Icon } from "astro-icon/components";
---

<button
    class=`baton beautiful-button ${classes} rounded-2xl button-shadow h-4 w-4 p-2 border-4 border-black
    flex justify-center items-center text-sm font-semibold
    text-white hover:bg-red`
    aria-label={ariaLabel}
    data-clickDestination={clickDestination}
>
    <Icon name=`${iconName}` />
</button>

<style>
    .baton {
    }
    .button-close {
        background-color: red;
    }
    .button-shadow {
        box-shadow: 2px 2px 0 rgba(64, 64, 64, 0.8);
    }

    [data-icon] {
        margin: -7px;
    }
    .baton > [data-icon] {
        color: black;
    }
</style>
