---

---

<div
    id="brunc-clock"
    class="text-sm animate__animated animate__fadeIn select-none text-right"
    transition:persist
>
    00:00:00
</div>
<style>
    #brunc-clock {
        min-width: 50px;
    }
</style>
<script>
    function showTime() {
        let date = new Date().toLocaleString("pl-PL", {
            timeZone: "Europe/Warsaw",
            hour: "2-digit",
            minute: "2-digit",
            second: "2-digit",
            hour12: false,
        });
        document.getElementById("brunc-clock").innerText = date.substring(0, 5);

        setTimeout(showTime, 1000);
    }
    showTime();
</script>
