<section class="giscus mx-auto mt-10 w-full"></section>

<script
    is:inline
    src="https://giscus.app/client.js"
    data-repo="bamanczak/bruncio"
    data-repo-id="R_kgDOLSMmuQ"
    data-category="Blog Post Comments"
    data-category-id="DIC_kwDOLSMmuc4Chgn7"
    data-mapping="title"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="https://brunc.io/commentsTheme.css"
    data-lang="en"
    crossorigin="anonymous"
    async></script>
