---
import { Image } from "astro:assets";

import { ImageMetadata } from "astro/dist/@types/astro";
import Pane from "../components/Pane.astro";

interface Props {
    iconName: ImageMetadata;
    label: string;
}
const { iconName, label } = Astro.props;
---

<div class="max-w-20 desktop-icon-container">
    <div
        class="draggable-icon desktop-icon-sub-container cursor-pointer select-none flex flex-col items-center justify-center
        border-4 border-myyellow border-opacity-0
        hover:bg-myyellow hover:bg-opacity-25 hover:border-opacity-100"
    >
        <Image src={iconName} alt="Icon" width={40} class="head" />
        <div class="bg-back border-4 border-black my-shadow text-base px-1">
            {label}
        </div>
    </div>

    <Pane
        title="Opened from icon!"
        body="This is a body opened from icon"
        classes="invisible"
    />
</div>

<style>
    .my-shadow {
        box-shadow: 4px 4px 0 rgba(64, 64, 64, 0.8);
    }

    .draggable-icon {
        position: absolute;
    }
</style>
