---
import HeaderLink from "./HeaderLink.astro";
import { Image } from "astro:assets";
import headImage from "../images/header_head.png";
import "tippy.js/animations/scale.css";
import Clock from "./Clock.astro";
import { Icon } from "astro-icon/components";
import MenuDropdown from "../components/MenuDropdown.svelte";
---

<header class="sticky top-0 h-10 bg-mywhite">
	<nav class="flex flex-row justify-between items-center">
		<div class="flex flex-row items-center">
			<div class="hs-dropdown head-container">
				<MenuDropdown client:load>
					<Image
						slot="image"
						src={headImage}
						alt="A human head"
						width={36}
						class="head"
					/>
				</MenuDropdown>
			</div>
			<div class="internal-links max-md:hidden">
				<HeaderLink href="/">Home</HeaderLink>
				<HeaderLink href="/blog">Blog</HeaderLink>
				<HeaderLink href="/about">About</HeaderLink>
			</div>
		</div>
		<div class="flex flex-row justify-between">
			<div class="flex flex-row justify-center items-center gap-3">
				<div
					class="flex flex-row justify-center items-center gap-1 max-md:hidden"
				>
					<a href="mailto:bamanczak@gmail.com" class="grey text-sm"
						>hello@brunc.io</a
					>
					<a
						href="https://www.linkedin.com/in/bruno-manczak/"
						class="grey"
					>
						<Icon name="mdi:linkedin" size={26} />
					</a>
					<a href="https://github.com/bamanczak" class="grey">
						<Icon name="mdi:github" size={26} />
					</a>
				</div>
				<Clock />
			</div>
		</div>
	</nav>

	<style>
		header {
			z-index: 1000;
		}

		nav .hs-dropdown-menu {
			transform: translate3d(20px, 36px, 0px) !important;
			z-index: 1000;
		}

		nav .head-container {
			max-height: 36px;
			overflow: hidden;
			border-bottom: 0px;
			margin-bottom: 0px;
		}

		.head-container .head {
			position: relative;
			top: 15px;
			transition: top ease-in-out 0.25s;
			overflow-clip-margin: content-box;
			overflow: clip;
		}
		.head-container:hover .head {
			/* naprawić, bo to się do 2 elementów daje */
			top: 4px;
		}
		header {
			margin: 0;
			padding: 0 1em;
			border-bottom: 4px solid rgba(var(--black), 1);
		}
		h2 {
			margin: 0;
			font-size: 1em;
		}

		h2 a,
		h2 a.active {
			text-decoration: none;
		}
		nav > a {
			/*padding: 1em 0.5em; */
			color: var(--black);
			border-bottom: 4px solid transparent;
			text-decoration: none;
		}
		.grey {
			color: #686864;
		}
		nav a.active {
			text-decoration: none;
			border-bottom-color: var(--accent);
		}
	</style>
</header>
