---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import { Image } from "astro:assets";
import headImage from "../images/header_head.png";
import "tippy.js/animations/scale.css";
import Clock from "./Clock.astro";

// import "tippy.js/dist/tippy.css";
---

<header class="sticky top-0 h-12 bg-myyellow">
	<!-- <Button color="primary" client:visible>My button</Button> -->

	<!--  -->

	<nav class="sticky">
		<!--  -->
		<div class="hs-dropdown head-container">
			<!-- [--trigger:hover]"> -->
			<button
				id="hs-dropdown-with-dividers"
				type="button"
				title="Click me!"
				data-tooltip-placement="right"
			>
				<Image
					src={headImage}
					alt="A human head"
					width={40}
					class="head"
				/>
			</button>

			<div
				class="hs-dropdown-menu hidden transition-[opacity,margin] duration
				m-0
				hs-dropdown-open:opacity-100 opacity-0 min-w-60 border-4 border-black bg-back p-1 divide-y divide-black dark:bg-gray-800 dark:border dark:border-gray-700 dark:divide-gray-700"
				aria-labelledby="hs-dropdown-with-dividers"
			>
				<div class="py-1 first:pt-0 last:pb-0">
					<a
						class="flex items-center gap-x-0.5 py-2 px-3 text-sm text-black hover:text-back hover:bg-black focus:outline-none focus:bg-black focus:text-back dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:focus:bg-gray-700"
						href="#"
					>
						About BruncOS
					</a>
				</div>
				<div class="py-1 first:pt-0 last:pb-0">
					<a
						class="flex items-center gap-x-0.5 py-2 px-3 text-sm text-black hover:text-back hover:bg-black focus:outline-none focus:bg-black focus:text-back dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:focus:bg-gray-700"
						href="#"
					>
						Blog
					</a>
					<a
						class="flex items-center gap-x-0.5 py-2 px-3 text-sm text-black hover:text-back hover:bg-black focus:outline-none focus:bg-black focus:text-back dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:focus:bg-gray-700"
						href="#"
					>
						Home
					</a>
					<a
						class="flex items-center gap-x-0.5 py-2 px-3 text-sm text-black hover:text-back hover:bg-black focus:outline-none focus:bg-black focus:text-back dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:focus:bg-gray-700"
						href="#"
					>
						Legal
					</a>
				</div>
			</div>
		</div>
		<!--  -->
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<Clock />
	</nav>

	<style>
		/* #tippy-1 .tippy-box {
		background-color: seagreen;
	}
	.tippy-box {
		background-color: red !important;
		color: yellow;
		border: 1px solid pink;
		border-radius: 0.15rem;
		padding: 0.5rem;
		word-wrap: break-word;
	} */
		header {
			z-index: 1000;
		}

		nav .hs-dropdown-menu {
			transform: translate3d(20px, 44px, 0px) !important;
			z-index: 1000;
		}

		nav .head-container {
			max-height: 44px;
			overflow: hidden;
			border-bottom: 0px;
			margin-bottom: 0px;
		}

		.head-container .head {
			position: relative;
			top: 17px;
			transition: top ease-in-out 0.25s;
			overflow-clip-margin: content-box;
			overflow: clip;
		}
		.head-container:hover .head {
			/* naprawić, bo to się do 2 elementów daje */
			top: 4px;
		}
		header {
			margin: 0;
			padding: 0 1em;
			border-bottom: 4px solid rgba(var(--black), 1);
		}
		h2 {
			margin: 0;
			font-size: 1em;
		}

		h2 a,
		h2 a.active {
			text-decoration: none;
		}
		nav {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			/* TO robi ze linki sa na cala dlugosc */
			/* justify-content: space-between; */
		}
		nav > a {
			/*padding: 1em 0.5em; */
			color: var(--black);
			border-bottom: 4px solid transparent;
			text-decoration: none;
		}
		nav a.active {
			text-decoration: none;
			border-bottom-color: var(--accent);
		}

		@media (max-width: 720px) {
			.social-links {
				display: none;
			}
		}
	</style>
</header>
