---
import HeaderLink from "./HeaderLink.astro";
import { Image } from "astro:assets";
import headImage from "../images/header_head.png";
import Clock from "./Clock.astro";
import { Icon } from "astro-icon/components";
import MenuDropdown from "../components/MenuDropdown.svelte";
---

<header class="sticky top-0 h-10 bg-mywhite">
	<nav class="flex flex-row justify-between items-center">
		<div class="flex flex-row items-center">
			<div class="hs-dropdown head-container">
				<MenuDropdown client:visible>
					<Image
						slot="image"
						src={headImage}
						alt="A human head"
						width={36}
						class="head animate__animated"
					/>
				</MenuDropdown>
			</div>
			<div class="internal-links max-md:hidden">
				<!-- <HeaderLink href="/">Home</HeaderLink> -->
				<HeaderLink href="/blog">Blog</HeaderLink>
				<HeaderLink href="/about">About</HeaderLink>
			</div>
		</div>
		<div class="flex flex-row justify-between">
			<div class="flex flex-row justify-center items-center gap-3">
				<div
					class="flex flex-row justify-center items-center gap-1 max-md:hidden"
				>
					<a
						href="mailto:bamanczak@gmail.com"
						class="grey text-sm"
						aria-label="Drop me a mail">hello@brunc.io</a
					>
					<a
						href="https://www.linkedin.com/in/bruno-manczak/"
						class="grey"
						aria-label="Connect with me on LinkedIn"
					>
						<Icon name="mdi:linkedin" size={26} />
					</a>
					<a
						href="https://github.com/bamanczak"
						class="grey"
						aria-label="Check out my GitHub profile"
					>
						<Icon name="mdi:github" size={26} />
					</a>
				</div>
				<Clock />
			</div>
		</div>
	</nav>

	<style>
		nav .hs-dropdown-menu {
			transform: translate3d(20px, 36px, 0px) !important;
			z-index: 1000;
		}

		nav .head-container {
			max-height: 36px;
			overflow: hidden;
			overflow-x: visible;
			border-bottom: 0px;
			margin-bottom: 0px;
			padding-left: 4px;
		}

		.head-container .head {
			position: relative;
			top: 15px;
			transition: top ease-in-out 0.25s;
			overflow-clip-margin: content-box;
			overflow: clip;
			animation-duration: 1s;
		}
		.head-container:hover .head {
			/* naprawić, bo to się do 2 elementów daje */
			top: 4px;
		}
		header {
			margin: 0;
			padding: 0 1em;
			border-bottom: 4px solid rgba(var(--black), 1);
			z-index: 1000;
			width: 100vw;
		}
		h2 {
			margin: 0;
			font-size: 1em;
		}

		h2 a,
		h2 a.active {
			text-decoration: none;
		}
		nav > a {
			/*padding: 1em 0.5em; */
			color: var(--black);
			border-bottom: 4px solid transparent;
			text-decoration: none;
		}
		.grey {
			color: #686864;
		}
		nav a.active {
			text-decoration: none;
			border-bottom-color: var(--accent);
		}
	</style>
</header>
<script>
	const animationClass = "animate__wobble";
	const interval = 60000;
	const animationDuration = 1000;
	const initialDelay = 20000;

	function startAnimation() {
		const head = document.querySelector(
			".head-container .head",
		) as HTMLElement;
		head.classList.add(animationClass);
		setTimeout(function () {
			stopAnimation();
		}, animationDuration);
	}

	function stopAnimation() {
		const head = document.querySelector(
			".head-container .head",
		) as HTMLElement;

		head.classList.remove(animationClass);
		setTimeout(function () {
			startAnimation();
		}, interval);
	}

	setTimeout(function () {
		startAnimation();
	}, initialDelay);
</script>
