---
import { ViewTransitions } from "astro:transitions";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import DesktopIcon from "../components/DesktopIcon.astro";

import Floppy from "../components/Floppy.astro";
import { Tooltips } from "astro-tooltips";
import "animate.css";

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
import Hello from "../components/hello.astro";
import { Content as MyPost } from "../content/blog/markdown-style-guide.md";
import { Content as WebBrowser } from "../pages/special/web.mdx";
import { Content as CrashAlert } from "../pages/special/alert.mdx";
import Pane from "../components/Pane.astro";

import { Content as CookieNotice } from "../pages/special/cookieNotice.md";
import { Content as PrivacyPolicy } from "../pages/special/privacyPolicy.md";
import { Content as TermsOfUse } from "../pages/special/termsOfUse.md";
import { Content as A11y } from "../pages/special/a11y.md";
import { Content as Environment } from "../pages/special/environment.md";
---

<!doctype html>
<html lang="en">
	<head>
		<Tooltips interactive={false} delay={[15, 100]} />
		<BaseHead title={title} description={description} />
		<ViewTransitions />
	</head>
	<body class="bg-myyellow">
		<Header />

		<main>
			<Hello />

			<DesktopIcon
				iconName="pixelarticons:article-multiple"
				label="posts"
				position_x={20}
				position_y={60}
				iconFunction="navigate"
				navigateTo="/blog"
			>
				<MyPost />
			</DesktopIcon>

			<DesktopIcon
				iconName="pixelarticons:folder"
				label="test"
				position_x={94}
				position_y={130}
			/>
			<DesktopIcon
				iconName="pixelarticons:user"
				label="author"
				iconFunction="navigate"
				navigateTo="/about"
				position_x={22}
				position_y={180}
			/>
			<DesktopIcon
				iconName="mdi:photo-library"
				label="projects"
				position_x={25}
				position_y={270}
			/>
			<DesktopIcon
				iconName="mdi:web"
				label="internet"
				position_x={24}
				position_y={350}
			>
				<WebBrowser />
			</DesktopIcon>
			<DesktopIcon
				iconName="pixelarticons:trash"
				label="trash"
				position_x={340}
				position_y={190}
			/>
			<Pane
				title="System Error"
				classes="invisible"
				windowName="Error"
				position="left: calc(50vw - 240px); top: calc(50vh - 115px); width:480px; height: 230px;"
				showExpand={false}
				footnote=""
			>
				<CrashAlert />
			</Pane>

			<!-- LEGAL NOTICES -->
			<Pane
				title="Cookie Notice"
				classes="invisible"
				windowName="CokkieNotice"
				position="left: calc(100vw - 470px); top: 80px; width: var(--pane-default-width); height: var(--pane-default-height);"
			>
				<CookieNotice />
			</Pane>
			<Pane
				title="Privacy Policy"
				classes="invisible"
				windowName="PrivacyPolicy"
				position="left: calc(50vw - 150px); top: calc(50vh - 200px); width: var(--pane-default-width); height: var(--pane-default-height);"
			>
				<PrivacyPolicy />
			</Pane>
			<Pane
				title="Privacy Policy"
				classes="invisible"
				windowName="EnvPolicy"
				position="left: 50px; top: calc(100vh - 380px); width: var(--pane-default-width); height: var(--pane-default-height);"
			>
				<Environment />
			</Pane>
			<Pane
				title="Terms of use"
				classes="invisible"
				windowName="TermsOfUse"
				position="left: 75px; top: 80px; width: var(--pane-default-width); height: var(--pane-default-height);"
			>
				<TermsOfUse />
			</Pane>
			<Pane
				title="Accessibility"
				classes="invisible"
				windowName="A11y"
				position="left: calc(100vw - 500px); top: calc(100vh - 400px); width: var(--pane-default-width); height: var(--pane-default-height);"
			>
				<A11y />
			</Pane>
			<slot />
		</main>
	</body>
</html>
